@font-face {
    font-family: 'AmericanTypeMedium';
    src: url('American Type Medium.otf') format('opentype');
}

body {
    font-family: 'AmericanTypeMedium', sans-serif;
    color: #f7f7f7;
    background-color: #121212;
    padding: 0;
    margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#header h1 {
    padding: 50px 0px;
}

#header-img {
    width: 450px;
    border-radius: 10px;
    border: 5px solid #f7f7f7;
}

.address {
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
}

span {
    background-color: #f7f7f7;
    color: #121212;
    padding: 5px 10px;
    border-radius: 5px;
}

p {
    font-size: 36px;
}

.gif-section {
    background-color: #fdfdfd;
    color: #121212;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6px;
}

.gif-section-item {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 700px;
    width: 500px;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    background-color: #f6f3f3;
    box-shadow: #d5d5d5 1px 1px 1px;
}

.gif-section-item-number {
    margin-bottom: 0px;
}

.gif-img {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    border: 5px solid #82A4D7;
    background-image: url('/images/Dunder_Mifflin_Paper_Image.png');
    background-position: center;
    background-size: contain;
    transition: ease-in-out .25s;
    position: relative;
}

.gif-img:hover::before {
    color: #f7f7f7;
    font-size: 22px;
    text-shadow: 0px 0px 3px black;
    position: absolute;
    background: #82a4d7b7;;
    top: 40%;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pam-gif:hover::before {
    content: 'Pam Beesly';
}

.pam-gif:hover {
    background-image: url('https://media1.giphy.com/media/0mKPytMujTds4e26IS/giphy.gif?cid=ecf05e47rue9yjz1kmvg52dlnocrqnkffs3ggtqsceghjv6h&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.jim-gif:hover::before {
    content: 'Jim Halpert';
}

.jim-gif:hover {
    background-image: url('https://media1.giphy.com/media/9Dw95n3X406Ag/giphy.gif?cid=ecf05e47tukqsvd5snbkye2o21kiu6b9j2r3026ic2va3mg1&ep=v1_gifs_related&rid=giphy.gif&ct=g');
}

.michael-gif:hover {
    background-image: url('https://media0.giphy.com/media/cXblnKXr2BQOaYnTni/giphy.gif?cid=ecf05e47p9gtcyx4u436iua9y5f1kbd4gm8ya64ac6kgy8qw&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.michael-gif:hover::before {
    content: 'Michael Scott';
}

.dwight-gif:hover {
    background-image: url('https://media1.giphy.com/media/txir5y39RpFC0/giphy.gif?cid=ecf05e477dsz39ro7tlnxzix6lie2kogrlip4si86hc7hvhq&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.dwight-gif:hover::before {
    content: 'Dwight Schrute';
}

.angela-gif:hover {
    background-image: url('https://media0.giphy.com/media/gVUqIFaYGs5u44IKLb/giphy.gif?cid=ecf05e47ur4s1irezu0ahmul57bdfj4prhyhep9afzbjahs7&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.angela-gif:hover::before {
    content: 'Angela Martin';
}
.angela-gif:hover {
    background-image: url('https://media0.giphy.com/media/gVUqIFaYGs5u44IKLb/giphy.gif?cid=ecf05e47ur4s1irezu0ahmul57bdfj4prhyhep9afzbjahs7&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.angela-gif:hover::before {
    content: 'Angela Martin';
}
.angela-gif:hover {
    background-image: url('https://media0.giphy.com/media/gVUqIFaYGs5u44IKLb/giphy.gif?cid=ecf05e47ur4s1irezu0ahmul57bdfj4prhyhep9afzbjahs7&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.angela-gif:hover::before {
    content: 'Angela Martin';
}
.angela-gif:hover {
    background-image: url('https://media0.giphy.com/media/gVUqIFaYGs5u44IKLb/giphy.gif?cid=ecf05e47ur4s1irezu0ahmul57bdfj4prhyhep9afzbjahs7&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.angela-gif:hover::before {
    content: 'Angela Martin';
}
.angela-gif:hover {
    background-image: url('https://media0.giphy.com/media/gVUqIFaYGs5u44IKLb/giphy.gif?cid=ecf05e47ur4s1irezu0ahmul57bdfj4prhyhep9afzbjahs7&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.angela-gif:hover::before {
    content: 'Angela Martin';
}
.angela-gif:hover {
    background-image: url('https://media0.giphy.com/media/gVUqIFaYGs5u44IKLb/giphy.gif?cid=ecf05e47ur4s1irezu0ahmul57bdfj4prhyhep9afzbjahs7&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.angela-gif:hover::before {
    content: 'Angela Martin';
}
.angela-gif:hover {
    background-image: url('https://media0.giphy.com/media/gVUqIFaYGs5u44IKLb/giphy.gif?cid=ecf05e47ur4s1irezu0ahmul57bdfj4prhyhep9afzbjahs7&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.angela-gif:hover::before {
    content: 'Angela Martin';
}
.angela-gif:hover {
    background-image: url('https://media0.giphy.com/media/gVUqIFaYGs5u44IKLb/giphy.gif?cid=ecf05e47ur4s1irezu0ahmul57bdfj4prhyhep9afzbjahs7&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.angela-gif:hover::before {
    content: 'Angela Martin';
}
.angela-gif:hover {
    background-image: url('https://media0.giphy.com/media/gVUqIFaYGs5u44IKLb/giphy.gif?cid=ecf05e47ur4s1irezu0ahmul57bdfj4prhyhep9afzbjahs7&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.oscar-gif:hover::before {
    content: 'Oscar Martinez';
}
.oscar-gif:hover {
    background-image: url('https://media0.giphy.com/media/1ZfYlAqtDpjVVg1EXQ/giphy.gif?cid=ecf05e47dksphdt40bjub6o3fzs6fb41alnj78k8ik2bjuow&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.kevin-gif:hover::before {
    content: 'Kevin Malone';
}
.kevin-gif:hover {
    background-image: url('https://media2.giphy.com/media/rQ5cWOkvXfoTUZLIPh/giphy.gif?cid=ecf05e47rfu6ezgf4rxp4tbvss79lwmdwtrf56kab657vcat&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.andy-gif:hover::before {
    content: 'Andrew Bernard';
}
.andy-gif:hover {
    background-image: url('https://media2.giphy.com/media/l1EG5nCKJlPha5ZTJE/giphy.gif?cid=ecf05e47rgjjvuht8cgy5thsmlbgvpef1ohpyjqo0mb6vawj&ep=v1_gifs_related&rid=giphy.gif&ct=g');
}

.erin-gif:hover::before {
    content: 'Erin Hannon';
}
.erin-gif:hover {
    background-image: url('https://media2.giphy.com/media/YV9yA0hevq1rQ74md4/giphy.gif?cid=ecf05e47uq150p2oy4djqqzaulkljqjem3j3by8di12m6x8r&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.kelly-gif:hover::before {
    content: 'Kelly Kapoor';
}
.kelly-gif:hover {
    background-image: url('https://media4.giphy.com/media/y5XuuI6wdKkDhd547j/giphy.gif?cid=ecf05e47zncdid9obvtgfub8j1cwph8rwk6m5y8onvcimby5&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.ryan-gif:hover::before {
    content: 'Ryan Howard';
}

.ryan-gif:hover {
    background-image: url('https://media1.giphy.com/media/UnTC9o2HMyUta/giphy.gif?cid=ecf05e47vwjjxdqqno1vq42b3x3ywnkenoxj5pu34g6vf24w&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.meredith-gif:hover::before {
    content: 'Ryan Howard';
}

.meredith-gif:hover {
    background-image: url('https://media1.giphy.com/media/tGO5aBtHgBWI2ukToC/giphy.gif?cid=ecf05e47a6qoyfynss3fqw25kmzoipiwyb1is84eu838op2m&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.meredith-gif:hover::before {
    content: 'Meredith Palmer';
}

.creed-gif:hover {
    background-image: url('https://media3.giphy.com/media/yBwcx562kZ2FWlYb2A/giphy.gif?cid=ecf05e47a6oprjrzpdhg58wlo111bzzfmluadyqt3q9d6e49&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}
.creed-gif:hover::before {
    content: 'Creed Bratton';
}

.darryl-gif:hover {
    background-image: url('https://media1.giphy.com/media/dCduVv0CvOA6tZojzY/giphy.gif?cid=ecf05e479kwbysjqo1vx7itsg9n1sb0ums1fcm8qjc7rin3r&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}
.darryl-gif:hover::before {
    content: 'Darryl Philbin';
}

.phyllis-gif:hover {
    background-image: url('https://media3.giphy.com/media/BlS1JmtntmwwD2ZThI/giphy.gif?cid=ecf05e47w2wze54m9h7pfh3733rls14julaestmsia468q61&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}
.phyllis-gif:hover::before {
    content: 'Phyllis Vance';
}

.stanley-gif:hover {
    background-image: url('https://media2.giphy.com/media/wqbAfFwjU8laXMWZ09/giphy.gif?cid=ecf05e475i1prxrw8kpbcdcb4wce585nnitixti1f25a0exg&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}
.stanley-gif:hover::before {
    content: 'Stanley Hudson';
}

.ryan-gif:hover {
    background-image: url('https://media1.giphy.com/media/UnTC9o2HMyUta/giphy.gif?cid=ecf05e47vwjjxdqqno1vq42b3x3ywnkenoxj5pu34g6vf24w&ep=v1_gifs_search&rid=giphy.gif&ct=g');
}

.gif-img:hover {
    cursor: pointer;
    transition: ease-in-out .25s;
    background-position: center;
    background-size: cover;
}

.gif-section h2 {
    margin-bottom: 5px;
    width: 80%;
    font-size: 18px;
}

.gif-section h3 {
    color: #535353;
    margin: 0;
    padding: 20px 0;
}

.gif-section-title {
    background-color: #fdfdfd;
    color: #121212;
    text-align: center;
    font-size: 36px;
    padding: 80px 0px;
}
