@font-face {
    font-family: 'AmericanTypeMedium';
    src: url('American Type Medium.otf') format('opentype');
}

body {
    font-family: 'AmericanTypeMedium', sans-serif;
    color: #f7f7f7;
    background-color: #121212;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header h1 {
    padding: 50px 0px;
}

#header-img {
    width: 550px;
    border-radius: 10px;
    border: 5px solid #f7f7f7;
}

.address {
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
}

span {
    background-color: #f7f7f7;
    color: #121212;
    padding: 5px 10px;
    border-radius: 5px;
}